.App-section-grid-item {
  margin: 10px;
  border-radius: 10px;
  background-color: #3b414d;
  text-align: center;
  box-shadow: 5px 5px #1c1e24;
}

.App-section-grid-item-header {
  margin: 10px;
}

.App-section-grid-item-body {
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.App-section-grid-item-body ul {
  list-style-position: inside;
  list-style-type: none;
}

.App-section-grid-item-body img {
  vertical-align: middle;
  height: calc(10px + 2vmin);
  width: calc(10px + 2vmin);
}

.App-section-grid-item a {
  color: #f3f3f3;
  text-decoration: none;
}
