.App-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  min-height: 15vh;
  margin: auto;
}

.App-footer a {
  padding: 1vh;
  color: white;
}

#githubLogo img {
  width: 32px;
  height: 32px;
}
